<% content_for :header do %>
    <%= @repository.title %>
<% end %>

<%= render 'layouts/notifications.html.erb' %>

<p class="logs">
  <%= @audit %>
</p>

<% content_for :info do %>
<div id="info">
  <%= button_to(translate(:repo_btn_back), {controller: :repositories, action: :show, id: @repository.token},
                method: 'get')%>
</div>
<% end %>