// Here are all

div#header{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

div#header h1{
  color: #77216F;
}

div#content{
  border-radius: 15px;
  border: 2px solid #E05A2B;
  background-color: #EAE9E7;
  width: 50%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  min-height: 200px;
  z-index: 1;
}

div#content h2#header{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #E2E0DD;
  border-bottom: 2px solid #333333;
  width: calc(100% - 15px);
  float: left;
  height: 30px;
  margin: 0px;
  padding-left: 15px;
  padding-top: 10px;
}

div#content div#material{
  margin: 15px 15px 15px 15px;
  display: inline-block;
  width: 98%;
}

div#content div#info{
  position: relative;
  bottom: 0;
  margin: 0;
  padding-left: 15px;
  border-top: 1px solid #333333;
  #background-color: #E2E0DD;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

div#footer{
  position: fixed;
  bottom: 0;
  border: 2px solid #333333;
  padding: 25px;
  margin-top: 25px;
  width: 100%;
  height: 50px;
  background-color: #84377D;
}