// All global notification related styling is done here.

div.notice{
  border-radius: 15px;
  border: 3px solid #00CC00;
  background-color: #66CC66;
  margin-bottom: 10px;
  padding: 10px;
  display: inline-block;
}

div.alert{
  border-radius: 15px;
  border: 3px solid #FF0000;
  background-color: #ff8a78;
  margin-bottom: 10px;
  padding: 10px;
  display: inline-block;
}

p.notice{
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  border: 3px solid #00CC00;
  background-color: #c4e2be;
  display: inline-block;
}

p.alert{
  margin: 5px;
  padding: 10px;
  border-radius: 15px;
  border: 3px solid #FF0000;
  background-color: #ff8a78;
  display: inline-block;
}

.field_with_errors label{
  border-bottom: 2px solid #FF0000;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}