body{
  background-color: #f7f7f7;
  margin: 0px;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

h1{
  font-size: 36px;
}

h3{
  padding: 5px;
  border-bottom: 1px solid #333333;
  width: 50%;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

div.center{
  margin-left: auto;
  margin-right: auto;
}

.center{
  text-align: center;
}

.vcenter{
  vertical-align: middle;
}
