body{
  background-color: #f7f7f7;
  margin: 0px;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
}

h1{
  font-size: 48px;
}

h3{
  padding: 5px;
  border-bottom: 1px solid #333333;
  width: 50%;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 13px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }
}

a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  color: initial;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

div.center{
  margin-left: auto;
  margin-right: auto;
}

.center{
  text-align: center;
}

.right{
  text-align: right;
}

.float_left{
  float: left;
}

.float_right{
  float: right;
}

.left{
  text-align: left;
  float: left;
}

.description{
  border-radius: 15px;
  border: 1px solid #AEA79F;
  font-style: italic;
  background: #EEEDEB;
  padding: 10px;
  max-width: 45%;
}

.logs{
  border-radius: 15px;
  border: 1px solid #AEA79F;
  background: #EEEDEB;
  padding: 10px;
  max-width: 90%;
  white-space: pre-line;
}