
<% if defined?(notice) and defined?(alert) %>
    <%unless notice.blank? %>
        <p class="notice"><%= notice %></p>
    <%end%>

    <%if not notice.blank? and not alert.blank?%>
        <br />
    <%end%>

    <%unless alert.blank? %>
        <p class="alert"><%= alert %></p>
    <%end%>
<%end%>